nav {
    position: absolute;
    top: 9vw;
    right: 4vw;
}   

nav li {
    display: inline;
    margin: 0 0 0 1vw;
}

nav a {
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    font-size: 2vw;
    text-decoration: none;

}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}
