.benefits{
    background-color: #888;
}

.benefits-container {
    width: 640px;
    margin: 0 auto;
}


.img-benefits {
    background-image: url(../../imagens/beneficios.jpg);
    background-size: cover;
    background-position: center;
    width: 60%; 
    height: 35vw; 
    display: inline-block;
}

.benefits-list {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
}

.itens {
    line-height: 1.5;
    list-style: none;   
}

.itens::before{
    content: "★";
    margin-right: .4vw;
}

.itens:first-child {
    font-weight: bold;
}

.video {
    width: 560px;
    margin: 0 auto;
    padding: 2vw;
}

