.banner-img {
    background-image: url("../../imagens/barbearia.jpg");
    background-size: cover;
    width: 100%;
    height: 40vw;
}

.description {
    background-color: #FEF;
}

.description-img {
    background-image: url("../../imagens/utensilios.jpg");
    background-size: cover;
    background-position: center;
    width: 15vw;
    height: 15vw;
    margin-right: 1vw;
    float: left;
}


.map-section {
    background: linear-gradient(#FEF, #888);
}