.banner-img {
    background-image: url("../../imagens/barbearia.jpg");
    background-size: cover;
    width: 100%;
    height: 40vw;
    margin: 0;
}

.description{
    background-color: #FEF;
    margin-top: 0;
    padding: 0;
}

.map-section{
    background: linear-gradient(#FEF, #888);
}